### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "/Users/yaden/desktop/pandas_challenge/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [503]:
# Organize data with gender, screen name, and age columns
organized_data = purchase_data[["Gender","SN","Age"]]

organized_data.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [500]:
# Filter organized data by screen name to find total amount of players
players = organized_data.drop_duplicates()

total_players = len(players["SN"].value_counts())

# Make new dataframe to show total amount of players
total_players_table = pd.DataFrame({"Total Number of Players": [total_players]})

total_players_table.head()

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [516]:
# Count number of unique items and find average purchase price, total # of purchases, and total revenue

unique_items = len(purchase_data["Item Name"].unique())
average_price = purchase_data["Price"].mean()
total_number_purchases = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()

# print(total_revenue)
# print(average_price)
# print(total_number_purchases)
# total_unique_items

# Make new dataframe with obtained values
summary_table=pd.DataFrame({"Total Unique Items":[unique_items],
                           "Average Purchase Price":[average_price],
                           "Total Number of Purchases": [total_number_purchases],
                           "Total Revenue":[total_revenue]})
summary_table=summary_table[["Total Unique Items","Average Purchase Price","Total Number of Purchases","Total Revenue"]]

summary_table=summary_table.round(2)

summary_table.style.format({"Avg. Purchase Price":"${:,.2f}",
                           "Total Revenue":'${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [504]:
total_gender = players["Gender"].value_counts()
# print(total_gender)

percentage = total_gender /total_players * 100
# print(percentage)



gender_demographics=pd.DataFrame({"Total Count":total_gender,
                                  "Percentage of Players":percentage})

gender_demographics = gender_demographics.round(2)
gender_demographics.head()

                       Total Count  Percentage of Players
Male                           484                 84.03%
Female                          81                 14.06%
Other / Non-Disclosed           11                  1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [519]:
purchase_count = purchase_data.groupby(["Gender"]).count()['Price']
average_purchase = purchase_data.groupby(['Gender']).mean()['Price']
purchase_total_per_person = average_purchase / total_gender * 100
total_purchase_value = purchase_data.groupby(["Gender"]).sum()['Price']

summary_analysis = pd.DataFrame({"Purchase Count":purchase_count,
                                 "Avg. Purchase Price": average_purchase,
                                "Total Purchase Amount": total_purchase_value, 
                                 "Avg. Purchase per Person": purchase_total_per_person})

summary_analysis.round(2)

summary_analysis.style.format({"Avg. Purchase Price":"${:,.2f}",
                               "Avg. Purchase per Person":'${:,.2f}',
                           "Total Purchase Amount":'${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [514]:
age_bins = [0,10,15,20,25,30,35,40,99]

age_groups = ['0-10', '10-14', ' 15-19', '20-24', '25-29','30-34', '35-39', '40+']

purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], age_bins, labels= age_groups)
purchase_data

#Create new df with age groups grouped together
grouped_age = purchase_data.groupby("Age Group")
grouped_age.head()


total_age = grouped_age["SN"].nunique()

pct_by_age = (total_age/total_players * 100)

#Create new df with new values
age_demo = pd.DataFrame({"Percentage of Total": pct_by_age,
                        "Total Count": total_age})

#Format df with no index column
age_demo.index.name = None 

# age_demo.style.format({"Percentage of Total":"{:,.2f}"})
pd.options.display.float_format = '{:.2f}%'.format

age_demo

        Percentage of Total  Total Count
0-10                  4.17%           24
10-14                 7.12%           41
 15-19               26.04%          150
20-24                40.28%          232
25-29                10.24%           59
30-34                 6.42%           37
35-39                 4.51%           26
40+                   1.22%            7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [424]:
# Count purchases by age group
purchase_count = grouped_age["Purchase ID"].count()

#Find average purchase price per age group
avg_purchase_price_age = grouped_age["Price"].mean()

#Calculate total purchase value per age group
total_purchase_value = grouped_age["Price"].sum()

#Calculate average purchase per person in age group 
avg_purchase_per_person = total_purchase_value / total_age 

age_group_table = pd.DataFrame({"Purchase Count":purchase_count,
                                 "Avg. Purchase Price": avg_purchase_price_age,
                                "Total Purchase Amount": total_purchase_value,
                               "Avg. Purchase per Person": avg_purchase_per_person})
age_group_table.head()

age_group_table.index.name = None 

age_group_table.style.format({"Avg. Purchase Price":"${:,.2f}",
                             "Total Purchase Amount":"${:,.2f}",
                             "Avg. Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [445]:
# Group original df by screen name
big_spenders = purchase_data.groupby("SN")

purchase_count_spender = big_spenders["Purchase ID"].count()

avg_purchase_price_spender = big_spenders["Price"].mean()

purchase_total_spender = big_spenders["Price"].sum()

new_spender_df = pd.DataFrame({"Purchase Count":purchase_count_spender,
                        "Avg. Purchase Price": avg_purchase_price_spender,
                        "Total Purchase Amount": purchase_total_spender})

#Sort in descending order to list top five spending players
top_five = new_spender_df.sort_values(["Total Purchase Amount"],ascending=False).head(5)


#Correct formatting with given values 
top_five.style.format({"Avg. Purchase Price":"${:,.2f}",
                             "Total Purchase Amount":"${:,.2f}",
                             "Avg. Purchase per Person":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [526]:
# Retrieve Item ID, Item Name, and Item Price columns 
top_items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group top_items by Item ID and Item Name 
grouped_items = top_items.groupby(["Item ID","Item Name"])

# Count total purchase count 
item_purchase_count = grouped_items["Price"].count()

# Purchase value per item 
purchase_value = grouped_items["Price"].sum()

# Average item price 
avg_item_price = (purchase_value / item_purchase_count).round(2)

# Create new df with new values 
most_pop_items = pd.DataFrame({"Purchase Count": item_purchase_count,
                               "Avg. Item Price": avg_item_price,
                               "Total Purchase": purchase_value})

# Sort purchase count column in descending order 
formatted_pop_items = most_pop_items.sort_values(["Purchase Count"], ascending=False).head(5)

# Format with currency
formatted_pop_items.style.format({'Avg. Item Price':"${:,.2f}",
                                 'Total Purchase':"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [527]:
most_profitable = formatted_pop_items.sort_values('Total Purchase',ascending=False)
most_profitable.head()

most_profitable.style.format({'Avg. Item Price':'${:,.2f}',
                                 'Total Purchase':'${:,.2f}'})